<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	HROps</display-name>
	<listener>
		<listener-class>com.thebasilisks.Initializer</listener-class>
	</listener>
	<servlet>
		<description>
		</description>
		<display-name>Authenticator</display-name>
		<servlet-name>Authenticator</servlet-name>
		<servlet-class>com.thebasilisks.servlets.Authenticator</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ResumeServer</display-name>
		<servlet-name>ResumeServer</servlet-name>
		<servlet-class>
		com.thebasilisks.servlets.ResumeServer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		HR</display-name>
		<servlet-name>HR</servlet-name>
		<servlet-class>
		com.thebasilisks.servlets.HR</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Manager</display-name>
		<servlet-name>Manager</servlet-name>
		<servlet-class>
		com.thebasilisks.servlets.Manager</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Interviewer</display-name>
		<servlet-name>Interviewer</servlet-name>
		<servlet-class>
		com.thebasilisks.servlets.Interviewer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Admin</display-name>
		<servlet-name>Admin</servlet-name>
		<servlet-class>
		com.thebasilisks.servlets.Admin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AcceptOffer</display-name>
		<servlet-name>AcceptOffer</servlet-name>
		<servlet-class>
		com.thebasilisks.servlets.AcceptOffer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Leave</display-name>
		<servlet-name>Leave</servlet-name>
		<servlet-class>
		com.thebasilisks.servlets.Leave</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AdminConfig</display-name>
		<servlet-name>AdminConfig</servlet-name>
		<servlet-class>
		com.thebasilisks.servlets.AdminConfig</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ImageServlet</display-name>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>
		net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PdfServlet</display-name>
		<servlet-name>PdfServlet</servlet-name>
		<servlet-class>
		net.sf.jasperreports.j2ee.servlets.PdfServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		XlsServlet</display-name>
		<servlet-name>XlsServlet</servlet-name>
		<servlet-class>
		net.sf.jasperreports.j2ee.servlets.XlsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		HelpServer</display-name>
		<servlet-name>HelpServer</servlet-name>
		<servlet-class>
		com.thebasilisks.servlets.HelpServer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Authenticator</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResumeServer</servlet-name>
		<url-pattern>/getResume.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HR</servlet-name>
		<url-pattern>/HR/HR.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Manager</servlet-name>
		<url-pattern>/Manager/Manager.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Interviewer</servlet-name>
		<url-pattern>/Interviewer/Interviewer.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/admin/admin.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AcceptOffer</servlet-name>
		<url-pattern>/offerLetter.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Leave</servlet-name>
		<url-pattern>/leave/leave.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminConfig</servlet-name>
		<url-pattern>/admin/admin_config.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/admin/image</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PdfServlet</servlet-name>
		<url-pattern>/admin/report/getPDF</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XlsServlet</servlet-name>
		<url-pattern>/admin/report/getXLS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HelpServer</servlet-name>
		<url-pattern>/helpServer.do</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
